In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("videosUS.csv")

In [3]:
df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22.0,2017-11-13T17:13:01.000Z,SHANtell martin,748374.0,57527.0,2966.0,15954.0,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24.0,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783.0,97185.0,6146.0,12703.0,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23.0,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434.0,146033.0,5339.0,8181.0,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24.0,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168.0,10172.0,666.0,2146.0,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24.0,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731.0,132235.0,1989.0,17518.0,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...

In [4]:
#Question 1 : 
df.isna().sum()

video_id                     0
trending_date              466
title                      466
channel_title              466
category_id                466
publish_time               466
tags                       466
views                      466
likes                      466
dislikes                   466
comment_count              466
thumbnail_link             466
comments_disabled          466
ratings_disabled           466
video_error_or_removed     466
description               1036
dtype: int64

In [5]:
missing_values = df.isna()
df.isna()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41410,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
41411,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
41412,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
41413,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
41414,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [6]:
missing_columns = df.columns[missing_values.any()].tolist()
print(missing_columns)

['trending_date', 'title', 'channel_title', 'category_id', 'publish_time', 'tags', 'views', 'likes', 'dislikes', 'comment_count', 'thumbnail_link', 'comments_disabled', 'ratings_disabled', 'video_error_or_removed', 'description']

In [7]:
df.isna().sum()*100 / len(df)

video_id                  0.000000
trending_date             1.125196
title                     1.125196
channel_title             1.125196
category_id               1.125196
publish_time              1.125196
tags                      1.125196
views                     1.125196
likes                     1.125196
dislikes                  1.125196
comment_count             1.125196
thumbnail_link            1.125196
comments_disabled         1.125196
ratings_disabled          1.125196
video_error_or_removed    1.125196
description               2.501509
dtype: float64

Assumption : the number of information missing is so small, so we can just opt for the first method which is deleting rows where the values are missing

In [8]:
df.dropna(inplace=True) #Listwise deletion

**the mean, median, quartiles of each numerical variable**

In [9]:
#Question 2
df.describe()

        category_id         views         likes      dislikes  comment_count
count  40379.000000  4.037900e+04  4.037900e+04  4.037900e+04   4.037900e+04
mean      19.944253  2.370839e+06  7.461677e+04  3.508122e+03   8.287396e+03
std        7.594850  7.428515e+06  2.296172e+05  2.317486e+04   3.431605e+04
min        1.000000  5.490000e+02  0.000000e+00  0.000000e+00   0.000000e+00
25%       17.000000  2.470760e+05  5.621500e+03  2.050000e+02   6.230000e+02
50%       24.000000  6.895970e+05  1.837100e+04  6.370000e+02   1.874000e+03
75%       25.000000  1.834912e+06  5.567200e+04  1.948000e+03   5.787000e+03
max       43.000000  2.252119e+08  5.613827e+06  1.643059e+06   1.228655e+06

In [17]:
#Question 3 
df['views_zscore'] = (df.views - df.views.mean())/df.views.std()
df = df[df['views_zscore']>3]

df['likes_zscore'] = (df.likes - df.likes.mean())/df.likes.std()
df = df[df['likes_zscore']>3]

df['dislikes_zscore'] = (df.dislikes - df.dislikes.mean())/df.dislikes.std()
df = df[df['dislikes_zscore']>3]

**Question 4**

*We have 11 categories.* 

**Question 5** 

*Yes , like comments_disabled 	ratings_disabled 	video_error_or_removed.*

In [18]:
#Question 6 
df["tags"].sum()

0